html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

li {
    list-style: none;
    text-align: left;
    min-height: 27px;
    color: #eee;
    font-family: 'Raleway', sans-serif;
}

.nav-bar{
    padding: 10px 0;
    background: #30af30;
}

.right-panel{
    height: 400px;;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 1px 1px 1px 1px rgba(8, 8, 8, 0.62);
    padding: 10px 0 10px 0;
}


.heading {
    float: left;
    font-weight: 900;
    font-size: 28px;
    color: white;
    font-family: 'Bubbler One', sans-serif;
    margin: 0 10px !important;
}

.class-info-button{
    border-radius: 2px;
    background: white;
    box-shadow: 2px 4px 5px 0 rgba(25, 17, 17, 0.26);
}
.row{
    margin-left: 0;
    margin-right: 0;
}

.padding-0{
    padding: 0;
}

.modal-body{
    display: grid
}

.create-button{
    background: white;
    font-weight: 600;
}
/***********Class info card**********/
.class-name {
    font-size: 25px;
    float: left
}
.card-sub-headings{
    font-size: 15px
}
.relationship{
    background: #f1f0f0;
}
.icon {
    float: right;
    margin-left: 10px
}
.icon:hover{
    cursor:pointer
}
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
/************************************/


/************ Find Modal**************/
.find-key{
    border-bottom: 1px solid #b7b4b4;
    margin-bottom: 23px;
}
.value {
    margin-top: 5px;
    font-size: 20px
}